<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PhoenixApp", suffix: " · Phoenix Framework" %>

<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/style.css")}/>
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/bootstrap.min.css")}/>
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/bootstrap.min.css.map")}/>
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/font-awesome.min.css")}/>
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/image-hover.min.css")}/>


<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/jquery.min.js")}></script>
<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/jquery.easing.min.js")}></script>
<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/bootstrap.min.js")}></script>
<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/custom.js")}></script>
<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/store.js")}></script>
<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/contactform.js")}></script>

<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/database/database.js")}></script>

  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
